global
  log stdout format raw local0

defaults
  mode http
  log global
  option httplog
  option dontlognull
  timeout connect 5s
  timeout client  30s
  timeout server  30s

frontend pulse_frontend
  bind *:4100
  default_backend pulse_backends

backend pulse_backends
  option httpchk GET /status
  http-check expect status 200
  balance roundrobin
  server backend_a 192.168.2.101:4000 check inter 2000 fall 3 rise 2
  server backend_b 192.168.2.102:4000 check inter 2000 fall 3 rise 2
